body{
    background-color: rgb(29, 29, 29);
    align-items: center;
    text-align: center;
}

a{
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
}

h1{
    color: aliceblue;
}
