body{
    background: linear-gradient(to right, black, rgb(192, 25, 207));
    align-items: center;
    text-align: center;
}


a{
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
}

h1{
    color: aliceblue;
}
