  @font-face {
    font-family:'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: #a7f5b8;
}

header{
    background-image: linear-gradient(#2FFF5C, #4bb160,  #10441b);
    height: 160px;
    width: auto;
}

.fundo{
    background-color: white;
    width: 1000px;
    height: 2200px;
    margin-left: 24%;
    background-position: center;
    border-radius: 0 0 10px 10px;
}

.lista{
    background-color: #a7f5b8;
    width: 900px;
    background-position: center;
    margin-left: 5%;
    border-radius: 10px;
}

.ordem{
    column-count: 2;
    padding: 20px;
}

.faixa{
    background-color: #358f48;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.footer{
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: #08200d;
}

.titulo{
    padding: 15px;
    color: #358f48;
    font-family: 'Android';
}

p{
    padding: 10px;
    font-size: 1.1em;
    text-indent: 20px;
}

.centro{
    text-align: center;
    padding: 10px;
}

#principal{
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#secundario{
    color: #faf4ff;
    font-size: 20px;
}

iframe{
    margin-bottom: 10px;
}

.textura{
    margin: 10px;
    font-size: bold;
    color: #358f48;
    font-family:'Android';
    background-image:linear-gradient(120deg,#c0eec9a2, white) ;
}

.img{
    display: block;
    margin: 0 auto;
}

.navegar > a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
}

.link{
    text-decoration: none;
    color: #00e431;
}