@charset "UTF-8";

        body{
           background-color: lightskyblue; 
           font-family: Arial, Helvetica, sans-serif;
           font-size: 20px;
        }

        h1{
            color: darkblue;
            background-color: lightseagreen;
        }

        h2{
            color: rgba(142, 11, 194, 0.76);
        }

        p{
            text-align: justify;
        }

        a{
            text-decoration: none;
        }

        