@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /*height: 100%;*/
    background-image: linear-gradient(to right,#7DD1B1,#7DD182,#225625 );
}

p{
    text-align: justify;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1125128a;
    width: 800px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #6C7C76;
    text-align: center;
    text-shadow: 1px 1px 2px #23312cc0;
}

h2{
    color: #D1A47D;
}